* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ########### header css starts here ############## */

.header {
    height: 400px;
    background-color: var(--color-dark);
    /* background: url(../images/tyson.jpg) no-repeat center/cover; */
    color: var(--color-white);
    line-height: 1.5;
}

.site-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-info p {
    font-size: 20px;
    color: var(--color-gold);
    font-weight: bold;
    font-style: italic;
}

.site-info h1 {
    text-transform: uppercase;
}

.navbar {
    background-color: var(--color-primary);
}


.navbar ul li a:link,
.navbar ul li a:visited {
    color: var(--color-dark);
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
    transition: all .5s ease-in-out;
    display: block;
    text-align: center;
    background-color: var(--color-primary);
}

.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus {
    background-color: var(--color-dark);
    color: var(--color-primary);
}

.content-area {
    flex-direction: column;
    background-color: var(--color-gray);
}

.main-content-area {
    padding: 10px;
}



/* ##################### CSS for posts section ############### */

.posts {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.post {
    background-color: var(--color-white);
    margin-bottom: 10px;
}


.post-content {
    transform: translateY(-10px);
}

.post-content h2 {
    padding: 20px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-dark);
    text-transform: capitalize;
}


.post-content p {
    padding: 25px;
    background-color: var(--color-white);
    color: var(--color-dark);
    font-size: 16px;
}

.watchContent {
    align-self: center;
    padding: 30px;
}

.watchContent a:link,
.watchContent a:visited {
    text-decoration: underline;
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
}

.watchImg img {
    width: 100%;
}


/* ########### CSS for watch section ################# */


.watchCard {
    background-color: var(--color-dark);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.watchCard>img {
    width: 100%;
}

.watchContent {
    padding: 20px;
    font-weight: bold;
}

.watchContent h3 {
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
}

.watchContent .movieStory {
    font-size: 20px;
}

.watchContent h3,
.watchContent p {
    margin-bottom: 15px;
}

.watchContent a {
    text-decoration: underline;
    color: var(--color-white);
}

.watchContent p span {
    margin-right: 15px;
    font-size: 22px;
}

/* ############# CSS for downloadCard section ############## */

.downloadImg img {
    width: 100%;
}

.downloadContent {
    display: flex;
    flex-direction: column;
}

.downloadImg {
    background-color: var(--color-dark);
}

.downloadLink {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.downloadInfo {
    background-color: white;
    padding: 20px 5px;
}

.downloadGenere {
    margin-bottom: 15px;
}

.downloadGenere,
.downloadCast {
    display: flex;
    flex-wrap: wrap;
}

.downloadCast h4,
.downloadGenere h4 {
    flex: 0 0 55px;
    text-transform: capitalize;
    font-size: 15px;
    align-self: center;
}

.downloadCast img {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.downloadRating {
    background-color: var(--color-primary);
    text-align: center;
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ################### gallery section ####################### */

.gallery-img {
    margin-bottom: 10px;
    height: 300px;
}

.gallery-img a {
    height: 100%;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #################### sidebar section ####################3 */


.sidebar {
    padding: 0px 15px 15px;
}


.side-cards {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-transform: capitalize;
    box-shadow: #fff 2px 2px 12px, rgba(0, 0, 0, 0.42) 0px 10px 10px;
}

.side-cards h3 {
    font-size: 22px;
}

.side-cards ul {
    padding: 20px;
    list-style-type: disc;
    list-style-position: inside;
    font-weight: bold;
}

.side-cards a {
    color: #000;
}

.side-cards.mb-20 {
    margin-bottom: 20px;
}

.footer{
    background-color: var(--color-dark);
    padding: 20px;
    color: var(--color-white);
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}



@media all and (min-width: 469px) {
    .side-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .side-cards {
        flex-basis: 49%;
    }
}

@media all and (min-width:768px) {
    .posts {
        justify-content: space-between;
        flex-direction: row;
    }

    .posts .post {
        width: 49%;
    }

    .watchCard {
        flex-direction: row;
    }

    .watchImg {
        flex: 0 0 400px;
    }

    .watchImg img {
        height: 100%;
        object-fit: cover;
    }

    .watchContent {
        align-self: center;
        padding: 30px;
    }

    .watchCard:nth-of-type(even) .watchImg {
        order: 1;
    }

    .downloadContent {
        flex-direction: row;
    }

    .downloadInfo {
        padding: 20px;
        flex-grow: 1;
    }

    .downloadLink,
    .downloadRating {
        flex: 0 0 200px;
    }

    .gallery-imgs {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
    }

    .gallery-imgs :nth-child(3n + 1) {
        flex-basis: 30%;
    }

    .gallery-imgs :nth-child(3n + 2) {
        flex-basis: 500px;
    }

    .gallery-imgs :nth-child(3n + 3) {
        flex-basis: 250px;
    }

    .gallery-img {
        flex-grow: 1;
        margin-left: 10px;
    }
    
}


@media all and (min-width:1180px) {

    .navbar ul,
    .posts {
        display: flex;
    }

    .navbar li {
        flex-grow: 1;
    }

    .content-area,
    .posts {
        flex-direction: row;
    }

    .posts {
        justify-content: space-between;
        padding: 0 10px 0;
    }

    .main-content-area {
        flex-grow: 1;
    }

    .posts .post:nth-child(1),
    .posts .post:nth-child(2) {
        width: 49%;
    }

    .posts .post:nth-child(3),
    .posts .post:nth-child(4),
    .posts .post:nth-child(5) {
        width: 32%;
    }

    .posts .post:last-child {
        width: 100%;
    }

    .gallery-img {
        height: 400px;
    }

    .side-info {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .sidebar {
        flex: 0 0 400px;
        padding: 15px;
    }

    .side-cards {
        flex-basis: 100%;
    }

}